{% if 'prediction' in state %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-tag" aria-hidden="true"></i> &nbsp; Persoonlijkheid uitleg</h3>
    </div>

    <div class="panel-body">
        <center>
            {% if not 'prediction' in state %}
            <p>Voor deze medewerker is er geen voorspelling beschikbaar.</p>
            {% endif %}
            {% if 'prediction' in state %}
            <p>Jouw persoonlijkheid komt in flinke mate overeen met die van een groep mensen die we <strong>{{state.prediction|lower}}</strong> noemen.</p>
                {% if state.lowDescription != [] or state.highDescription != [] %}
                    <p>Daarbij
                    {% if state.lowDescription != [] %}
                    valt op dat jij in vergelijking met die groep beduidend lager scoort op {{state.lowDescription|join(' en ')}}.</p>
                    {% endif %}
                    {% if state.lowDescription != [] and state.highDescription != [] %}
                    <p>Maar ook
                    {% endif %}
                    {% if state.highDescription != [] %}
                    valt op dat jij in vergelijking met die groep beduidend hoger scoort op {{state.highDescription|join(' en ')}}.</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        </center>
    </div>
</div>
{% endif %}
