<div class="panel panel-default mockup">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-table" aria-hidden="true"></i> &nbsp; Koop de mok</h3>
    </div>

    <div class="panel-body">
        <img class="img-responsive" src="/static/pi/doener-mok.jpeg" />
        <br/>
        <a href="menu-shoppingcart?subject={{topic.topic}}&product=Persoonlijkheidsmok" " class="btn btn-primary btn-block ">
            <i class="fa fa-cart-plus " aria-hidden="true "></i>
            Bestel</a>
    </div>
</div>